.jumbotron {
    background-color: darkturquoise;
    color:floralwhite;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-app {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-download {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;

}

.body-icon {
    padding-right: 10px;

}

.icon-pequeño {
    font-size: 80%;
    padding-left: 2px;
}

.img-fluid {
    width: 100%;
    height: 300px;
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;

}

.btn-contacto {
    padding-bottom: 20px;
    border-radius: 0px;
}

.image-carousel {
    width: 200px;
    height: 200px;
}
