@charset "UTF-8";
.jumbotron {
  background-color: #f74d2f;
  color: #f7e11b;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #2ff761;
  color: #f7e11b;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-app {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-download {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.body-icon {
  padding-right: 10px;
}

.icon-pequeño {
  font-size: 80%;
  padding-left: 2px;
}

.img-fluid {
  width: 100%;
  height: 300px;
}

.tab-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-contacto {
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.image-carousel {
  width: 200px;
  height: 200px;
}

/*# sourceMappingURL=styles.css.map */
