$yellow: #f7e11b;
$red: #f74d2f;
$green: #2ff761;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin colores($background-color, $color) {
    background-color: $background-color;
    color: $color;
}
.jumbotron {
    @include colores($red, $yellow);
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0px 10px;
    @include colores($green, $yellow);
    @include margenes(10px, 0px);
}

.card-app {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-download {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;

}

.body-icon {
    padding-right: 10px;

}

.icon-pequeño {
    font-size: 80%;
    padding-left: 2px;
}

.img-fluid {
    width: 100%;
    height: 300px;
}

.tab-content {
    @include margenes(20px, 20px);

}

.btn-contacto {
    @include margenes(0px, 20px);
    border-radius: 0px;
}

.image-carousel {
    width: 200px;
    height: 200px;
}
